.pageContainer {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.bullyboard {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  margin: auto;
  height: 75vh;
  width: 75vh;
  outline: 0.1em solid rgb(170, 180, 24);
  outline-offset: -0.1em;
  border: .8em solid rgb(10, 68, 15);
  grid-column-start: 2;
}

.innerSquares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(23, 112, 18);
  border: .01em solid rgb(181, 235, 35);
}

.outerSquares {
  display: grid;
  background-color: rgb(42, 156, 13);
  border: .01em solid rgb(132, 175, 13);
}
