/* Home Page */
#callToAction > * {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(23, 112, 18);
}

#callToAction > div > img {
  width: 15em;
  text-align: center;
  margin-bottom: 0.5em;
}

#callToAction > div > h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
}

#callToAction > div > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 1.3em;
  padding: 1.2rem;
  border-radius: 0.5em;
  margin-bottom: 0.01em;
  box-shadow: -3px 3px 4px 2px rgba(0, 0, 0, 0.4);
}

#instructionButton > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: white;
  font-size: 1.3em;
  padding: 1.2rem;
  border-radius: 0.5em;
  box-shadow: -3px 3px 4px 2px rgba(0, 0, 0, 0.4);
}

/* Instruction Page */

#instructions {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;
  justify-content: center;
}

#instructions > img {
  width: 15em;
  height: 8.8em;
  text-align: center;
}

.homeButton {
  text-align: center;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  justify-content: center;
}

.homeButton > a {
  text-decoration: none;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: rgb(10, 68, 15);
  font-size: 1.2em;
  padding: 0.9em;
  border-radius: 0.5em;
  margin: 1em;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

/* Choose Deck Page */

#deckPageContainer {
  display: flex;
  height: 100%;
  width: 80vw;
  justify-items: center;
  align-items: center;
  margin: auto;
}

#chooseDeck {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  outline: 0.1em solid rgb(170, 180, 24);
  outline-offset: -0.1em;
  border: 0.8em solid rgb(10, 68, 15);
  background-color: rgb(23, 112, 18);
  grid-column-start: 2;
  grid-row-start: 2;
}

.deck {
  height: 40vw;
  max-height: 15em;
  margin-top: 1.75em;
  margin-left: 0.75em;
  margin-bottom: 2em;
}

/* Bully Board Page */

#pageContainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 5% 80% 15%;
  height: 100vh;
  width: 100vw;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.dealDeck {
  text-decoration: none;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: rgb(10, 68, 15);
  font-size: 1.2rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  grid-column-start: 3;
  grid-row-start: 1;
  cursor: pointer;
}

.dealOpDeck {
  text-decoration: none;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: rgb(10, 68, 15);
  font-size: 1.2rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  grid-column-start: 1;
  grid-row-start: 1;
  cursor: pointer;
}

.dealPlayerHand {
  text-decoration: none;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: rgb(15, 121, 24);
  font-size: 1.2rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  grid-column-start: 3;
  grid-row-start: 1;
  cursor: pointer;
}

.dealOpHand {
  text-decoration: none;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: rgb(15, 121, 24);
  font-size: 1.2rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  grid-column-start: 1;
  grid-row-start: 1;
  cursor: pointer;
}
/* Player Items */

#playerContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 11% 5% 23% 5% 23% 5% 23%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  grid-column-start: 3;
  grid-row-start: 2;
}

#playerContainer > * > h5 {
  margin: 0.1em;
  align-self: flex-end;
}

#playerChips {
  align-items: flex-start;
  justify-items: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3%, 5%));
  grid-row-start: 2;
}

#playerChips > div > img {
  width: auto;
  max-height: 8vh;
}

#playerHand {
  display: flex;
  align-content: flex-start;
  justify-items: left;
  max-width: 100%;
  grid-row-start: 4;
}

#playerHand > div > img {
  width: auto;
  max-height: 16vh;
}

#playerDeck {
  align-items: flex-start;
  justify-items: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3%, 5%));
  grid-row-start: 6;
}

#playerDiscardPile {
  align-items: flex-start;
  justify-items: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3%, 5%));
  grid-row-start: 8;
}

/* Opponent Items */

#opponentContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 11% 5% 23% 5% 23% 5% 23%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-items: right;
}

#opponentContainer > * > h5 {
  margin: 0.1em;
  align-self: flex-end;
}

#opponentChips {
  display: grid;
  align-items: flex-start;
  justify-items: flex-start;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(3%, 5%));
  grid-row-start: 2;
}

#opponentChips > div > img {
  width: auto;
  max-height: 8vh;
}

#opponentHand {
  display: flex;
  flex-flow: row-reverse;
  margin: auto;
  position: inherit;
  max-width: 100%;
  justify-self: right;
  align-content: flex-end;
  justify-items: flex-end;
  grid-row-start: 4;
}

#opponentHand > div > img {
  max-height: 15vh;
}

#opponentDeck {
  display: grid;
  align-items: flex-start;
  justify-items: flex-start;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(3%, 5%));
  grid-row-start: 6;
}

#opponentDiscardPile {
  align-items: flex-end;
  justify-items: right;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(3%, 5%));
  grid-row-start: 8;
}

#bullyBoard {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  margin: auto;
  height: 75vh;
  width: 75vh;
  max-width: 100%;
  outline: 0.1em solid rgb(170, 180, 24);
  outline-offset: -0.1em;
  border: 0.8em solid rgb(10, 68, 15);
  grid-column-start: 2;
  grid-row-start: 2;
}

.dropSpace {
  cursor: auto;
}

.innerSquares {
  justify-items: flex-start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5%, 10%));
  background-color: rgb(23, 112, 18);
  border: 0.1em solid rgb(180, 228, 10);
}

.innerSquares > div > img {
  width: auto;
  max-height: 17.75vh;
}

.outerSquares {
  justify-items: flex-start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5%, 9.5%));
  background-color: rgb(42, 156, 13);
  border: 0.1em solid rgb(180, 228, 10);
}

.outerSquares > div > img {
  width: auto;
  max-height: 17.75vh;
}

.card {
  max-height: 17.75vh;
}

.cardOp {
  max-height: 17.75vh;
}

.handCard {
  cursor: pointer;
}

.boardCard {
  cursor: pointer;
}

.discardCard {
  cursor: pointer;
}

.chip {
  max-height: 10vh;
}

.hold {
  border: solid #cccccc 4px;
}

.hovered {
  background: #f4f4f4;
}

.invisible {
  display: none;
}

.invisible > img {
  display: none;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
}
}
